.tabs-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.tabs {
    list-style-type: none;
   }

.tabs li {
display: flex;
align-items: center;
width: 150px;
height: 50px;
border-left-width: 0.5px;
border-left-color: #C5C5C5;
border-left-style: solid;
padding-left: 20px;
font-size: 14px;
}


.tabs .active {
border-left-color: #2237FF;
border-left-width: 2px;
color: #2237FF;
}

.panel-container {
 width: 100%;
 margin-top: 25px;
 border: none;
}
   