.outro-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.outro-container > label {
    font-size: 20px;
    font-weight: 600;
}

.outro-tooltip-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 10px;
}
.outro-tooltip-container img {
    margin-left: 10px;
}

.outro-tooltip-container label {
    line-height: 22px;
    font-size: 18px;
    font-weight: 600;
    color: #191C26;
}

.action-label {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}

.call-action-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}
select {
    width: 155px;
    height: 32px;
    border-radius: 8px;
    border-width: 1px;
}
.textarea-container {
    display: flex;
    flex-direction: column;
}

textarea {
    position: relative;
    width: 352px;
    height: 94px;
    font-size: 13px;
    font-weight: 400;
    color: #191C2666;
    line-height: 17.76px;
    border-radius: 6px;
    border-width: 0.5px;
    padding: 16px;
}

.count {
    text-align: end;
    color: #191C26B2;
}