.App {
  height: 100vh;
  margin: 10%;
  font-family: 'Manrope';
}

hr {
  color: #E1E1E1;
  border-width: 0.5px;
}

button {
  padding: 8px, 24px, 8px, 24px;
  border-radius: 6px;
  border-width: 0;
  width: 81px;
  height: 30px;
  background-color: #2237FF;
  color: white;
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
}