.content {
    display: flex;
    flex-direction: row;
    width: 420px;
    height: 32px;
    align-items: center;
}
.content label {
    line-height: 22px;
    font-size: 18px;
    font-weight: 600;
    margin-right: 20px;
    color: #191C26;
}
input {
    padding: 4px, 12px, 4px, 12px;
    border-color: #2237FF;
    border-width: 1px;
    border-radius: 8px;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    width: 256px;
    height: 32px;
    color: #191C26;
}